@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body
{
    overflow-x: hidden;
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}
svg
{
    max-width: 70%;
    height: auto;
}
.wawe {
    animation: bounce 800ms infinite ease-in-out alternate;
  }
.opacity
{
    animation: opacity 850ms infinite ease-in-out alternate;
    opacity: 0;
}
.fly
{
    animation: fly 20s infinite ease-in-out normal;
}
.N1
{
    animation-delay: 350ms;
}
.N2
{
    animation-delay: 700ms;
}
.N3
{
    animation-delay: 1200ms;
}
.N4
{
    animation-delay: 1s;
}
.N5
{
    animation-delay: 1400ms;
}
.N6
{
    animation-delay: 1300ms;
}
  @keyframes bounce {
    0% 
    {
      transform: translateY(0px) rotate(0);
    }
    100% 
    {
      transform: translateY(-5px) rotate(1deg);
    }
}
@keyframes opacity {
    0%
    {
        transform: translateY(0px) rotate(0);
        opacity: 0;
    }
    100%
    {
        transform: translateY(-5px) rotate(2deg);
        opacity: 1;
    }
}
@keyframes fly {
    0%
    {
        transform: translateX(100%);
    }
    100%
    {
        transform: translateX(-100%);
    }
}
@media(max-width: 991px)
{
    svg
    {
        max-width: 100%;
    }
}